gunicorn
Flask==0.12
Flask-Restless==1.0.0b1
Flask-SQLAlchemy==2.2
Jinja2==2.9.5
MarkupSafe==1.0
SQLAlchemy==1.1.5
Werkzeug==0.11.10
itsdangerous==0.24
mimerender==0.6.0
python-dateutil==2.6.0
python-mimeparse==1.6.0
requests==2.18.1
six==1.10.0