<!doctype html>
<html lang="en" ng-app="AngularFlask">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/"/>
	<title>AngularFlask</title>

</head>
<body>
<form action="/login" method="post">
  userid<input type="text" name="text1">
  <br>password<input type="password" name="text2">
  <br>
  <input type="submit" name="button1"value="login">
  </form>

				<form  action="/post"  method="post">
					<button>post</button>
				</form>

	<script src="/static/lib/angular/angular.js"></script>
	<script src="/static/lib/angular/angular-resource.js"></script>
	<script src="/static/lib/angular/angular-route.js"></script>

	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
 	<script src="/static/js/services.js"></script>

	<script src="/static/lib/jquery/jquery.min.js"></script>
	<script src="/static/lib/bootstrap/bootstrap.min.js"></script>

</body>
</html>
